*/__pycache__
dist/
build/
BBPipe.egg-info/
*.pyc
*/outputs
*/logs
log.txt
runinfo
*.npy
*.sacc
*.out
run.sh
bbpipe.sh
*.sh
pol_angle_runs/*
old/
slurmjob.sl
submit_job.sh
test/sample_out/
.bashrc
pol_angle_runs/biastest/output/*
updated_runs/
examples/data/olddata/
*.swp
.idea/
.nfs*
